@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap");

.Header {
  text-align: center;
  font-family: Helvetica;
  font-style: normal;
  margin: 50px 25px;
}

.Header h1 {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  font-weight: 700;
  font-size: 42px;
}
