.custom-navbar {
  background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(46, 125, 50, 1) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.brand-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #2e7d32; /* Темно-зеленый цвет для заголовка */
}
.custom-navbar {
  background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(46, 125, 50, 1) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.brand-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #2e7d32; /* Темно-зеленый цвет для заголовка */
}
