.custom-button {
    background: linear-gradient(90deg, rgba(255, 235, 59, 1) 0%, rgba(46, 125, 50, 1) 100%);
    color: #000; /* Черный текст */
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background: linear-gradient(90deg, rgba(46, 125, 50, 1) 0%, rgba(255, 235, 59, 1) 100%);
    transform: translateY(-2px);
}

h2 {
    color: #2e7d32; /* Темно-зеленый цвет заголовка */
}